[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
channels = "==3.0.4"
daphne = "==3.0.2"
dynaconf = "==3.1.7"
psycopg2-binary = "==2.9.1"
whitenoise = "==5.3.0"
pydantic = "==1.8.2"

[dev-packages]

[requires]
python_version = "3.9"
